
<div th:fragment="headerFragment" id="sy_header_part">
	<header>
		<div class="logo">
			<a th:href="@{/project/list}" ><span style="font-size: 20px;">tumblcat</span></a>
		</div>
		<div class="menu">
			<ul class="main1">
				<li class="sy0" style="border: none;"><a href="#"><b style="font-size: 20px;"><span style="font-size: 20px;">≡</span> 카테고리</b></a>
					<ul class="main2">
						<li class="sy3"><a th:href="@{/project/list}" ><img src="/img/all.jpg" />전체</a>				
						<li class="sy3"><a th:href="|@{/project/list/웹툰리소스}|"><img src="/img/webtoon.jpg" />웹툰 리소스</a></li>
						<li class="sy3"><a th:href="|@{/project/list/반려동물}|"><img src="/img/pet.jpg" />반려동물</a></li>
						<li class="sy3"><a th:href="|@{/project/list/주얼리}|"><img src="/img/jewelry.jpg" />주얼리</a></li>
						<li class="sy3"><a th:href="|@{/project/list/음악}|"><img src="/img/music.jpg" />음악</a></li>
					</ul>
				</li>
				<li class="sy1"><a th:href="@{/project/list}">홈</a></li>
				<li><a th:href="@{/project/prelaunching}">공개예정</a></li>				
				<li class="sy2"><a th:href="@{/project/create}">프로젝트 올리기</a></li>
				
				<li><a sec:authorize="isAnonymous()" th:href="@{/account/signin}">로그인</a></li>
				<li><a sec:authorize="isAuthenticated()" th:href="@{/account/signout}">로그아웃</a></li>
				<li><a sec:authorize="isAnonymous()" th:href="@{/account/signup}">회원가입</a></li>
				
				<li style="border: none;" sec:authorize="isAuthenticated()"><a href="#"><img src="/img/mypage.jpg"/></a>
					<ul class="main2">
						<li><a th:href="@{|/account/profile/${#authentication.getPrincipal().getUsername()}|}">프로필</a></li>
						<!-- <li><a th:href="@{/invest/pledged}">후원현황</a></li> -->
						<li><a th:href="@{/project/liked}">관심프로젝트</a></li>
						<li><a th:href="@{/account/notice}">알림</a></li>
						<li><a th:href="@{|/account/myproject/${#authentication.getPrincipal().getUsername()}|}">내가만든프로젝트</a></li>
						<!-- <li><a th:href="@{/account/setaccount}">설정</a></li> -->
						<li><a id="resign" th:href="@{|/account/leave/${#authentication.getPrincipal().getUsername()}|}">탈퇴하기</a></li>
					</ul>
				</li>
				<!-- 검색바 시작 -->
				<form class="navbar-form navbar-right"  method="get" th:action="@{|/project/list?${kw}|}">
                    <div class="form-group">
                        <input type="text" class="form-control" name = "kw" placeholder="검색어를 입력해주세요.">
                    </div>
                    <button type="submit" class="btn btn-default">
	                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
						  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
						</svg>
					</button>
                </form>
                <!-- 검색바 끝 -->
			</ul>           
		</div>
	</header>
</div>