<div th:fragment="headerFragment" id="header_part">
	<!-- Header -->
	<header>
		<div id="menu">
			<ul class="main1">
				<li style="border: none;"><a href="#"><b style="font-size: 20px;"><span style="font-size: 20px;">≡</span> 카테고리</b></a>
					<ul class="main2">
						<li><a th:href="@{/project/list}" th:text="전체"></a>				
						<li><a th:href="|@{/project/list/웹툰리소스}|">웹툰 리소스</a></li>
						<li><a th:href="|@{/project/list/반려동물}|">반려동물</a></li>
						<li><a th:href="|@{/project/list/주얼리}|">주얼리</a></li>
						<li><a th:href="|@{/project/list/음악}|">음악</a></li>
					</ul>
				</li>
				<li><a th:href="@{/project/list}">홈</a></li>					
				<li><a th:href="@{/project/prelaunching}">공개예정</a></li>
				<li><a th:href="@{/project/create}">프로젝트 올리기</a></li>
				<li><a sec:authorize="isAnonymous()" th:href="@{/account/signin}">로그인</a></li>
				<li><a sec:authorize="isAnonymous()" th:href="@{/account/signup}">회원가입</a></li>
				<li><div sec:authorize="isAuthenticated()" th:text="|${#authentication.getPrincipal().getUsername()}님 환영합니다|"></div></li>
				
				<!-- 로그인이 안된 상태 -->
				<li sec:authorize="isAnonymous()" style="border: none;"><a href="#">마이페이지</a>
					<ul class="main2">
						<li><a th:href="@{/account/signin}">프로필</a></li>
						<li><a th:href="@{/account/signin}">후원현황</a></li>
						<li><a th:href="@{/account/signin}">관심프로젝트</a></li>
						<li><a th:href="@{/project/notice}">알림</a></li>
						<li><a th:href="@{/account/signin}">내가만든프로젝트</a></li>
						<li><a th:href="@{/account/signin}">설정</a></li>
						<li><a th:href="@{/account/signout}">로그아웃</a></li>	
					</ul>
				</li>
				
				<!-- 로그인 된 상태 -->
				<li sec:authorize="isAuthenticated()" style="border: none;"><a href="#">마이페이지</a>
					<ul class="main2">
						<li><a th:href="@{|/account/profile/${#authentication.getPrincipal().getUsername()}|}">프로필</a></li>
						<li><a th:href="@{/invest/pledged}">후원현황</a></li>
						<li><a th:href="@{/project/liked}">관심프로젝트</a></li>
						<li><a th:href="@{/project/notice}">알림</a></li>
						<li><a th:href="@{/account/myproject}">내가만든프로젝트</a></li>
						<li><a th:href="@{/account/setaccount}">설정</a></li>
						<li><a th:href="@{/account/signout}">로그아웃</a></li>	
					</ul>
				</li>
			</ul>
		</div>
	</header>
</div>