<html layout:decorate="~{layout}">
<div layout:fragment="content" sec:authorize="isAuthenticated()">
    <h1>내가 만든 프로젝트</h1>

    <div sec:authorize="isAuthenticated()">
    	<ul th:each="project : ${myProjectList}">
    		<li>
    		<img th:src="|/uploadfile/${project.ImgIdR.imgOriName}|" width="100" height="100"/>
    		<a th:href="@{|/project/detail/${project.pId}|}"><h4 th:text="${project.pName}"></h4></a>
    		<h6 th:text="${project.pDesc}"></h6>
    		</li>
    	</ul>

    </div>
</div>
</html>