<html layout:decorate="~{layout}">
	<div layout:fragment="content" id="wrapper">
		<hr>
		
		<!-- main section -->
		<main style="margin-left:20%;">
			<div>
				<h1>프로필</h1>
				<div class="line">
					<table>
						<tr>
							<th width="500">프로필 사진</th>
							<td>
								<input type="button" value="변경" class="change">
							</td>
						</tr>
					</table>
					<img src="/img/cat.jpg">
				</div>
				<br><br>
				
				<div class="line">
					<table>
						<tr>
							<th width="500">이름</th>
							<td>
								<button id="show" onclick="pf_name()">변경</button>
							</td>
						</tr>
					</table>
					<form id="pf_name">
						<textarea cols="15" rows="1"></textarea>
					</form>
					<p>김재훈</p>
				</div>
				<br><br>
				
				<div class="line">
					<table>
						<tr>
							<th width="500">소개</th>
							<td>
								<button id="show" onclick="pf_desc()">변경</button>
							</td>
						</tr>
					</table>
					<form id="pf_desc">
						<textarea cols="50" rows="5"></textarea>
					</form>
					<p>등록된 소개가 없습니다.</p>
				</div>
				<br><br>
				
			</div>
		</main>
	</div>
</html>