<html layout:decorate="~{layout}">
<div layout:fragment="content">
    <h1>선물 만들기</h1>
    <form action="@{|/reward/create/${project.pId}|}" method="POST">

        <div>
            선물 이름
            <input name="rwName" type="text">
        </div>
		<div>
            선물 설명
            <input name="rwDesc" type="text">
        </div>

        <div>
            최소후원금액
            <input name="rwMin" type="number">
        </div>
        <div>
            최대후원금액
            <input name="rwMax" type="number">
        </div>

        <div>
            <button type="submit">추가</button>
        </div>
    </form>

    <h2>선물 목록</h2>
    <div>
        {이름} : {최소후원금액}~{최대후원금액}
    </div>
</div>
</html>